<p-growl [value]="msgs"></p-growl>
<div class="col-xs-0 col-md-2"></div>
<div class="col-xs-12 col-md-8">
  <div *ngIf="!resultTweets" class="main-search main-center">
    <p id="welcomeSubtitle">Welcome to Twitter Hoax Finder! Please choose a tweet image to find some hoaxes.</p>
    <div>
      <div class="center">
        <file-drop (onFileDrop)="dropEvent($event)">
          <form>
            <div align="center">
              <label class="control-label">{{uploadMessage}}</label>
              <span class="btn btn-default btn-file">
                <i class="fa fa-search fa" aria-hidden="true"></i>
                Browse <input type="file" #fileInput (change)="fileChangeEvent()">
              </span>
            </div>
          </form>
        </file-drop>
        <br>
      </div>
      <button pButton class="btn btn-primary btn-lg btn-block btnSearch" label="SEARCH" (click)="search()"></button>
      <br>
      <br>
      <button pButton class="btn btn-primary btn-lg btn-block btnSearch" [routerLink]="['']"
              label="BUT... I WANT TO SEARCH TEXT"></button>
    </div>
  </div>

  <div class="col-xs-12 col-md-8">
    <div *ngIf="resultTweets" class="tweet-list">
      <div class="panel-title text-center">
        <div *ngIf="resultTweets.length !== 0">
          <h2 class="title">This is not a hoax!</h2>
          <h3 class="title">Here is the list of people who tweeted this.</h3>
        </div>
        <div *ngIf="resultTweets.length === 0">
          <h2 class="title">ALERT! THIS IS A POSSIBLE HOAX!</h2>
        </div>
        <br>

      </div>
      <div class="tweet-box" *ngFor="let resultTweet of resultTweets" id="{{resultTweet.idStr}}">
        <a href="https://twitter.com/{{resultTweet.fromUser}}/status/{{resultTweet.idStr}}">
          <div class="tweet-container">
            <img class="profile-image" src="{{resultTweet.profileImageUrl}}">
            <div class="content">
              <span class="user-fields"><strong>{{resultTweet.fromUser}}</strong>
                <img *ngIf="resultTweet.verified" class="verified" src="/images/verified.png"> @{{resultTweet.fromUser}}</span>
              <p class="tweet-text">{{resultTweet.text}}</p>
            </div>
          </div>
        </a>
      </div>
      <button style="align-content: center" pButton [routerLink]="['']" label="Search Again"></button>
    </div>
  </div>
</div>
