<p-growl [value]="msgs"></p-growl>
<div class="col-xs-0 col-md-2"></div>
<div class="col-xs-12 col-md-8">
  <div *ngIf="!resultTweets" class="main-search main-center">
    <p id="welcomeSubtitle">Welcome to Twitter Hoax Finder! Please choose a tweet image to find some hoaxes.</p>
    <div>
      <div class="center">
        <form>
          <file-drop (onFileDrop)="dropEvent($event)">
            <div align="center">
              <label class="control-label" id="uploadMessage">{{uploadMessage}}</label>
              <span class="btn btn-info btn-default btn-file btnSearch">
                <i class="fa fa-search fa" aria-hidden="true"></i>
                Browse <input type="file" #fileInput (change)="fileChangeEvent()">
              </span>
            </div>
          </file-drop>
          <br>
          <label class="cols-sm-2 control-label search-title">Tweet Language</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-flag fa" aria-hidden="true"></i></span>
              <p-radioButton class="form-control search-title" inputId="lang" name="lang" value="EN" [(ngModel)]="lang"
                             label="English"></p-radioButton>
              <p-radioButton class="form-control search-title" inputId="lang" name="lang" value="TR" [(ngModel)]="lang"
                             label="Turkish"></p-radioButton>
            </div>
          </div>
        </form>
        <br>
      </div>
      <button type="button" class="btn btn-success btn-lg btn-block btnSearch" (click)="search()">SEARCH</button>
      <br>
      <button type="button" class="btn btn-warning btn-lg btn-block btnSearch" [routerLink]="['']">BUT... I WANT TO
        SEARCH TEXT
      </button>
    </div>
  </div>

  <div *ngIf="resultTweets" class="tweet-list">
    <div class="panel-title text-center">
      <div *ngIf="resultTweets.length !== 0">
        <div class="alert alert-success">
          <h3 class="hoaxResult">THIS IS NOT A HOAX!</h3>
          <p class="hoaxResult">Here is the list of people who tweeted this.</p>
        </div>
      </div>
      <div *ngIf="resultTweets.length === 0">
        <div class="alert alert-danger">
          <h2 class="hoaxResult">ALERT! THIS IS A POSSIBLE HOAX!</h2>
          <p class="hoaxResult">We are sorry to inform you that we couldn't find any results matching your search.
          </p>
        </div>
      </div>
    </div>

    <div align="center">
      <button type="button" class="btn btn-lg btn-block btn-warning" aria-hidden="true" [routerLink]="['']"
              id="btnTextSearch">GO TO TEXT SEARCH
      </button>
      <button type="button" class="btn btn-lg btn-success" aria-hidden="true" (click)="load()"
              id="btnImageSearch">GO TO IMAGE SEARCH
      </button>
    </div>

    <div id="secondDiv">
      <div class="tweet-box" *ngFor="let resultTweet of resultTweets" id="{{resultTweet.idStr}}">
        <a href="https://twitter.com/{{resultTweet.fromUser}}/status/{{resultTweet.idStr}}">
          <div class="tweet-container">
            <img class="profile-image" src="{{resultTweet.profileImageUrl}}">
            <div class="content">
              <span class="user-fields"><strong>{{resultTweet.fromUser}}</strong>
                <img *ngIf="resultTweet.verified" class="verified" src="/images/verified.png"> @{{resultTweet.fromUser}}</span>
              <p class="tweet-text">{{resultTweet.text}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
