.main {
  margin-top: 70px;
}

#welcomeTitle {
  font-size: 50px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
  color: white;
  background-color: #00B6F1;
  border-radius: 10px;
  margin: 0 -9999rem;
  padding: 0.25rem 9999rem;
}

#bottomNavbar {
  background-color: #00B6F1;
}

#gitHubProfileLink {
  color: white;
}

#gitHubProfileLink:hover {
  color: purple;
}
