.main {
  margin-top: 20px;
}

#welcomeTitle {
  font-size: 80px;
  font-variant: small-caps;
  font-weight: bold;
  font-family: Chalkduster, fantasy;
  font-stretch: ultra-expanded;
  color: white;
  background-color: #00B6F1;
  width: 100%;
}

#bottomNavbar {
  background-color: #00B6F1;
}

#gitHubProfileLink {
  color: white;
}

#gitHubProfileLink:hover {
  color: darkblue;
}

#welcomeTitleLink {
  text-decoration: none;
}

#bottomContainer {
  display: inline-block;
  margin-top: 40px;
}
