<p-growl [(value)]="msgs"></p-growl>
<div class="col-xs-0 col-md-2"></div>
<div class="col-xs-12 col-md-8">
  <div *ngIf="!resultTweets" class="main-search main-center">
    <p id="welcomeSubtitle">Welcome to Twitter Hoax Finder! Please fill below form to find some hoaxes.</p>
    <form [formGroup]="hoaxFinderSearchForm">
      <div class="form-group">
        <label for="query" class="cols-sm-2 control-label search-title">Twitter Query*</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search fa" aria-hidden="true"></i></span>
            <textarea pInputTextarea class="form-control" formControlName="query" name="query" id="query"
                      placeholder="Enter your query for search"></textarea>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="screenName" class="cols-sm-2 control-label search-title">Twitter User (Optional)</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
            <input type="text" class="form-control" formControlName="screenName" name="screenName" id="screenName"
                   placeholder="Enter Twitter User"/>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="cols-sm-2 control-label search-title">Tweet Language (Optional)</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-flag fa" aria-hidden="true"></i></span>
            <p-radioButton formControlName="lang" class="form-control search-title" inputId="lang" name="lang"
                           value="en" [(ngModel)]="tweetLang"
                           label="English"></p-radioButton>
            <p-radioButton formControlName="lang" class="form-control search-title" inputId="lang" name="lang"
                           value="tr" [(ngModel)]="tweetLang"
                           label="Turkish"></p-radioButton>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group">
        <button type="button" class="btn btn-success btn-lg btn-block btnSearch" (click)="doSearchForTweets()">SEARCH
        </button>
        <br>
        <button type="button" class="btn btn-warning btn-lg btn-block btnSearch" [routerLink]="['image-search']">BUT...
          I WANT TO SEARCH AN IMAGE
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="resultTweets" class="tweet-list">
    <div class="panel-title text-center">
      <div *ngIf="resultTweets.length !== 0">
        <div class="alert alert-success">
          <h3 class="hoaxResult">THIS IS NOT A HOAX!</h3>
          <p class="hoaxResult">Here is the list of people who tweeted this.</p>
        </div>
      </div>
      <div *ngIf="resultTweets.length === 0">
        <div class="alert alert-danger">
          <h2 class="hoaxResult">ALERT! THIS IS A POSSIBLE HOAX!</h2>
          <p class="hoaxResult">We are sorry to inform you that we couldn't find any results matching your search.
          </p>
        </div>
      </div>
    </div>

    <div align="center">
      <button type="button" class="btn btn-lg btn-block btn-warning" aria-hidden="true" (click)="load()"
              id="btnTextSearch">GO TO TEXT SEARCH
      </button>
      <button type="button" class="btn btn-lg btn-success" aria-hidden="true" [routerLink]="['image-search']"
              id="btnImageSearch">GO TO IMAGE SEARCH
      </button>
    </div>

    <div id="secondDiv">
      <div class="tweet-box" *ngFor="let resultTweet of resultTweets" id="{{resultTweet.idStr}}">
        <a href="https://twitter.com/{{resultTweet.fromUser}}/status/{{resultTweet.idStr}}">
          <div class="tweet-container">
            <img class="profile-image" src="{{resultTweet.profileImageUrl}}">
            <div class="content">
              <span class="user-fields"><strong>{{resultTweet.fromUser}}</strong>
                <img *ngIf="resultTweet.verified" class="verified" src="/images/verified.png"> @{{resultTweet.fromUser}}</span>
              <p class="tweet-text">{{resultTweet.text}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
